node_modules/
dist/
out/
electron/R-portable/
temp_r_download/
.tmp/
cache/
*_cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lint.log

# Build outputs
*.blockmap
*.dmg
*.exe
*.AppImage
*.deb
*.zip
*.tar.gz

# R artifacts
*.Rcheck/
.Rproj.user/
rsconnect/
vignettes/*.html
vignettes/*.pdf
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Renviron

# OS junk
.DS_Store
Thumbs.db
