# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rapp.history
.Rprofile
.Renviron
*.Rproj

# Shiny
shinyapps/
shiny-server/

# R Paketverwaltung
packrat/
renv/library/
renv/python/
renv/staging/

# Python cache
__pycache__/
*.pyc

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# macOS / IDE
.DS_Store
.idea/
.vscode/

# Logs und temporäre Dateien
*.log
*.tmp
*.swp
*.bak

# Archive und Output/Export/Plots
*.zip
out/
*.png
*.pdf
*.svg

# Docker
*.tar
.env
*.pid

# Sonstiges
*.sqlite
