<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Start EV Planning Tool</string>
  <key>CFBundleExecutable</key>
  <string>applet</string>
  <key>CFBundleIdentifier</key>
  <string>de.tum.evstatistiktool.start</string>
</dict>
</plist>
